
name: Publish Package to npmjs
on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Run format
        run: pnpm run format

      - name: Run lint
        run: pnpm run lint

      - name: Run check
        run: pnpm run check

      - name: Run type-check
        run: pnpm run type-check

      - name: Run build
        run: pnpm run build

      - name: Check exports
        run: pnpm run check-exports

      - name: Run tests
        run: pnpm test --if-present

      - name: Publish to npm
        run: pnpm publish --no-git-checks --access public
